<!DOCTYPE html>
<html>
<head>
  <title>Homedash</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="homeDash">
  <div id="navbar" ng-controller="NavbarCtrl as navbar" ng-init="init()">
    <ul class="nav nav-tabs">
      <li ng-repeat="tab in tabs" ng-class="{'active': tab.active }" ng-click="setActive(tab)">
        <a data-toggle="tab" ng-href="{{ tab.href }}">{{ tab.name }}</a>
      </li>
    </ul>
  </div>

  <div style="margin: 20px;" class="tab-content">
    <ui-view></ui-view>
  </div>


</body>
</html>
