<!DOCTYPE html>
<html>
<head>
  <title>Homedash</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="homeDash">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="/#/home">Generation</a></li>
    <li><a data-toggle="tab" href="/#/usage">Usage</a></li>
  </ul>

  <div style="margin: 20px;" class="tab-content">
    <ui-view></ui-view>
  </div>


</body>
</html>
